.container  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
}

.img-fluid {
    width: 10vw;
    height: 3vh;
    display: flex;
    position: relative;
    left: 100px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .img-fluid {
        width: 40vw;
        height: 3vh;
        display: flex;
        position: relative;
        left: 100px;
        align-items: center;
        justify-content: center;
    }
}