.container  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
}

.img-fluid {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-height: 300px !important;
}

@media (max-width: 767px) {
    .img-fluid {
        max-height: 300px !important;
    }
}